<% include header %>

<h1>Get person by ID</h1>

<form>
  <fieldset>
    <input type="number" name="userId" placeholder="123" autofocus required />
    <br />
    <input class="btn btn-primary" type="submit" value="go" />
  </fieldset>
</form>

<% include footer %>
